.form {
  //max-width: 300px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.forgot {
  width: 100%;
  //float: right;
}

.hbox {
  width: 30em;
  min-width: 20em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: center;
  //left: 24em;
}