@import "../../Theme/Palette.scss";

.logo {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $LightBlue;
}


.header {
    background: linear-gradient(to left, rgb(69, 143, 248), rgb(86, 181, 248));
    display: flex;
    padding:0 10px;
    .loginControl{
        height: 100%;
        flex-basis: 20%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        .avatar{
            overflow: hidden;
            height:48px;
            width:48px;
            background-color:$LightBlue;
            border-radius: 100%;
            display: flex;
            img{
                width: 100%;
            }
        }
    }
    .title{
        font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLi;
        font-size: 16pt;
        font-weight: bold;
        color: white;
        height: 100%;
        flex-basis: 80%;
    }
}

.content {
    margin:16px 16px;
    padding: 24px;
    background: #fff;
    min-height: 360px;
}